@model MVC_Exercise_1.Models.student
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*<div>
    <p>
        student details
    </p>
    <ul>
        @foreach (var i in ViewBag.details)
        {
            <li>
                <p>student id: @i.studid</p>
                <p>student name: @i.studname</p>
                <p>student marks: @i.studmarks</p>
            </li>

        }
    </ul>
</div>*@
<div>
    <h4>
        student details
    </h4>
    @foreach (var i in ViewData["details"] as IList<MVC_Exercise_1.Models.student>)
            {
                <p>student id: @i.studid</p>
                <p>student name: @i.studname</p>
                <p>student marks: @i.studmarks</p>
            }
</div>